#
# maps fasta file prefix of each dataset

declare -A DATASETS
DATASETS[cdna]=".cdna.all.fa"
DATASETS[cds]=".cds.all.fa"
DATASETS[dna]=".dna.chromosome.*.fa"
DATASETS[genome]=".genome.fa"
DATASETS[transcriptome_joined]="*joined.fa"
DATASETS[ncrna]=".ncrna.fa"
DATASETS[pep]=".pep.all.fa"

#Flags datasets that are genomic 
# (large)

declare -a GENOME
GENOME=("dna genome") 

ORGANISMS="homo_sapiens
caenorhabditis_elegans 
danio_rerio
drosophila_melanogaster
mus_musculus
saccharomyces_cerevisiae
"


