#
# maps fasta file prefix of each dataset

declare -A DATASETS
DATASETS[genomic]=".genomic.fa"
DATASETS[mRNA_transcripts]=".mRNA_transcripts.fa"
DATASETS[ncRNA_transcripts]=".ncRNA_transcripts.fa"
DATASETS[potential_promotors]=".potential_promotors.fa"
DATASETS[transcriptome_joined]="joined.fa"
DATASETS[pseudogenic_transcripts]=".pseudogenic_transcripts.fa"
DATASETS[repeats]=".repeats.fa"
DATASETS[transposons]=".transposons.fa"
DATASETS[transposon_transcripts]=".transposon_transcripts.fa"

#List of alignment tools
# that use this data source to generate indexes
ALIGN_TOOLS_LIST="bwa bowtie2 hisat2 kallisto star"
# Refence file kept by each indexer-
# mapps all the datasets to index from this source
REFERENCE_FILE=wormbase-reference.csv

declare -a GENOME
GENOME=("genomic") 

ORGANISMS="c_elegans
b_malayi
c_brenneri
c_briggsae
c_japonica
c_remanei
o_volvulus
p_pacificus
s_ratti
"
