#
# maps fasta file prefix of each dataset

declare -A DATASETS
DATASETS[genomic]=".genomic.fa"
DATASETS[mRNA_transcripts]=".mRNA_transcripts.fa"
DATASETS[ncRNA_transcripts]=".ncRNA_transcripts.fa"
DATASETS[potential_promotors]=".potential_promotors.fa"
DATASETS[transcriptome_joined]="*joined.fa"
DATASETS[pseudogenic_transcripts]=".pseudogenic_transcripts.fa"
DATASETS[repeats]=".repeats.fa"
DATASETS[transposons]=".transposons.fa"
DATASETS[transposon_transcripts]=".transposon_transcripts.fa"

#Flags datasets that are genomic 
# (large)

declare -a GENOME
GENOME=("genomic") 
## Path data
DATA_SOURCE=wormbase
DOWNLOAD_BASE=/data/external/$DATA_SOURCE
SCRATCH_BASE=/data/scratch
CURRENT_VERSION_FILE=${DOWNLOAD_BASE}/current_release_NUMBER 
CURRENT_VERSION=`cat $CURRENT_VERSION_FILE`

DATA_DIR=$DATA_SOURCE-$CURRENT_VERSION

REFERENCE_BASE=${SCRATCH_BASE}/$DATA_DIR

ORGANISMS="c_elegans.PRJNA13758
c_elegans.PRJNA275000
"
